* {
  box-sizing: border-box;
}
html {
  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.5em;
}
body {
  overflow-x: hidden;
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  transition: opacity 1s ease 0s;
  opacity: 1;
  background-color: $color-warning;
  background-image: url("../img/global-bg.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: $color-light;
}
a:hover,
a:focus {
  color: $color-accent;
}
p {
  color: $color-gray;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container {
  display: flex;
}
img {
  border-style: none;
}
.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: bolder;
}
@media (min-width: $lg) {
  body {
    padding: 0 $gap;
  }
}
@media (max-width: 1199.8px) {
  body {
    padding: 0 15px;
  }
  .container {
    flex-wrap: wrap;
  }
}
