.main-breadcrumb {
  width: 100%;
  margin-bottom: $gap;
  padding: 8px 12px;
  text-align: right;
  letter-spacing: 2px;
  border-radius: 7px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.main-breadcrumb a {
  font-weight: bold;
}
.main-breadcrumb a:hover {
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}
.main-breadcrumb span {
  position: relative;
  margin-right: 7px;
  color: #cccccc;
}
.main-breadcrumb i {
  color: #cccccc;
  font-weight: bold;
}
