.header-menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.3);
}
.header-menu__list {
  display: none;
  justify-content: center;

  width: 100%;

  text-align: center;
}

.header-menu__list-item:last-child {
  margin-bottom: 5px;
}
.header-menu__list-item a {
  margin-top: 0;
  margin-bottom: 0;
}
.header-menu__btn {
  display: flex;
}

.header-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.header-menu__list.active {
  display: flex;

  flex-direction: column;
}
.header-menu__list-item a {
  display: block;

  margin: 5px;
  padding: 10px 15px;

  border-radius: 4px;
}
.header-menu__list-item a:hover,
.header-menu__list-item a:focus {
  color: #e12727;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}
.header-menu__list-item.active a {
  color: #bb1a1a;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}

.header-menu__btn {
  align-items: center;

  flex-direction: column;
  justify-content: center;

  width: 50px;
  height: 50px;

  cursor: pointer;

  background: rgba(0, 0, 0, 0.2);
}
.header-menu__btn-row {
  position: relative;

  width: 60%;
  height: 2px;
  margin: 2px 0;

  transition: 0.5s;

  background-color: #eeeeee;
}
.header-menu__btn.active .header-menu__btn-row:first-child {
  top: 6px;

  transform: rotate(-135deg);
}
.header-menu__btn.active .header-menu__btn-row:last-child {
  top: -6px;

  transform: rotate(-225deg);
}
.header-menu__btn.active .header-menu__btn-row:nth-child(2) {
  opacity: 0;
}

@media (min-width: 768px) {
  .header-menu__list {
    display: flex;
  }
  .header-menu__btn {
    display: none;
  }

  @media (max-width: 767.8px) {
    .header-menu__list {
      display: none;
      justify-content: center;

      width: 100%;

      text-align: center;
    }
    .header-menu__list-item:last-child {
      margin-bottom: 5px;
    }
    .header-menu__list-item a {
      margin-top: 0;
      margin-bottom: 0;
    }
    .header-menu__btn {
      display: flex;
    }
  }
}
