.header {
  // display: block;
  overflow: hidden;
  min-height: 100px;
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
  background: rgba(0, 0, 0, 0.5);
}

.header-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-logo__image {
  display: block;
}
.header-logo__title {
  display: block;

  margin-bottom: 15px;

  text-align: center;
  letter-spacing: 5px;

  color: #eeeeee;

  font-family: "Lora", serif;
  font-weight: 300;
}
.header-logo__description {
  display: block;

  text-align: center;

  color: #eeeeee;
}

@media (min-width: 768px) {
  .header-logo {
    padding: 45px 15px;
  }
  .header-logo__image {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .header-logo__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header-logo__description {
    letter-spacing: 0.2em;

    font-weight: 700;
  }
}

@media (max-width: 767.8px) {
  .header-logo {
    padding: 30px 15px;
  }
  .header-logo__description {
    letter-spacing: 0.1em;

    font-size: 0.875rem;
    line-height: 1.25em;
  }
}

@media (max-width: 767.8px) and (min-width: 480px) {
  .header-logo__image {
    max-width: 300px;
    margin-bottom: 15px;
  }
  .main-content-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 767.8px) and (min-width: 576px) {
  .header-logo__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .main-content__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 479.8px) {
  .header-logo__image {
    width: 80%;
    margin-bottom: 15px;
  }
}
